
body {
    background-image: linear-gradient(
        rgb(59,88,93),
        rgb(29,48,4)
    );
    height: 150vh;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#below-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0rem 1rem 0rem;

}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: inherit;
    border: none;
    color:inherit;
}
.button {
    font-size: 1.5rem;
}

.button-navegate{
    font-size: 3rem;

}

.button-biggest{
    font-size: 4rem;
}

#cover {
    width: 450px ;
}

.music-container{
    
}

#playlist-tittle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0rem 0rem 4rem 0rem;  
}

#song-name {
    font-size: 1.5 rem;
    font-weight: bolder;
}

.ligth-color{
    color: rgb(139 153 156)
}
#band-name{

}

#progress-bar{
    background-color: rgb(139 153 156) ;
    height: 3px;
    width: 100% ;
    border-radius: 15px;
    margin-bottom: 3rem;
}

#corrent-progress {
    background-color: white;
    height: inherit;
    width: 50%;
}