
body {
    background-image: linear-gradient(
        rgb(59,88,93),
        rgb(29,48,4)
    );
    height: 200vh;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

#below-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    font-size: 1.5rem;
}

.button-navegate{
    font-size: 2rem;

}

.button-biggest{
    font-size: 3rem;
}